:root {
  --main-light: #d9f0fa;
  --main-btn-bg: #d3f2ff;
  --main-btn-border: #80cbea;
  --main-btn-hover: rgb(143, 221, 255);
  --main-btn-color: #106489;
  --border: #7e7e7e6e;

  --navbar-btn: rgba(49, 49, 49, 0.701);
  --navbar-btn-hover: rgb(59, 59, 59);
  --black: #060606;
  --black-medium: #161616;
  --primary: #6925ae;
  --primary-darker: #410f74;
  --primary-light: #a76be3;
  --primary-extra-light: #debffd;
  --grey: #525252;
}
@font-face {
  font-family: appleFont;
  src: url(../../Fonts/SF-Pro.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
  font-family: appleFont;
}

main {
  display: grid;
  place-items: center;
  min-height: 90vh;
}
section {
  /* min-height: 300px; */
  width: min(320px, calc(100% - 3rem));
}
section h1 {
  font-size: 35px;
  text-align: center;
}
form {
  height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--primary-darker);
  border-radius: 5px;
  padding: 25px 30px;
}
button {
  cursor: pointer;
  margin-top: 10px;
  background: var(--primary);
  border: 1px solid var(--grey);
  font-weight: bold;
  height: 40px;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  outline-color: var(--primary-darker);
  transition: all 0.25s;
}
button:hover {
  background: var(--primary-light);
}

label {
  margin-bottom: 5px;
}
input {
  margin-bottom: 20px;
  height: 35px;
  padding-inline: 6px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  outline-color: var(--primary-darker);

  font: inherit;
  font-size: 14px;
}

.none {
  display: none;
}
.alertas {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 10px;
}
.alerta {
  width: fit-content;
  background-color: #ff8487;
  margin-bottom: 0.5rem;
  border: 1px #ff3e43 solid;
  border-radius: 4px;
  padding: 10px 10px;
  /* font-size: 0.9 rem; */
}
.alerta > .mensaje {
  min-width: fit-content;
}
