:root {
  --main-light: #d9f0fa;
  --main-btn-bg: #d3f2ff;
  --main-btn-border: #80cbea;
  --main-btn-hover: rgb(143, 221, 255);
  --main-btn-color: #106489;
  --border: #7e7e7e6e;

  --navbar-btn: rgba(49, 49, 49, 0.701);
  --navbar-btn-hover: rgb(59, 59, 59);
  --black: #060606;
  --black-medium: #161616;
  --primary: #6925ae;
  --primary-darker: #410f74;
  --primary-light: #a76be3;
  --primary-extra-light: #debffd;
  --grey: #525252;
}
@font-face {
  font-family: appleFont;
  src: url(../../Fonts/SF-Pro.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
  font-family: appleFont;
}
body {
  min-height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 10000;
  color: white;
  background-color: var(--black-medium);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.368); */
  /* justify-content: space-between; */
  padding-inline: 7rem;
  align-items: center;
  min-height: 60px;
}
section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav > a {
  color: rgba(255, 255, 255, 0.752);
  padding-inline: 1.3rem;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.25s;
}
nav > a:hover {
  color: rgb(255, 255, 255);
}
header > a:first-child {
  color: white;
  padding-inline: 0 0.65rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
header > div {
  display: grid;
  place-content: center;
}
.sessionbtn {
  background-color: var(--navbar-btn);
  border: 1px solid var(--border);
  color: rgba(255, 255, 255, 0.752);
  padding: 5px;
  border: 1px solid rgb(77, 76, 76);
  border-radius: 4px;
  /* padding-inline: 10px; */
  text-decoration: none;
  transition: all 0.25s;
}

.sessionbtn:hover {
  background-color: var(--navbar-btn-hover);
}

.menu {
  display: none;
}
.responsive {
  display: none;
}
main {
  padding-inline: 7rem;
  min-height: 100vh;
  /* top: 50px; */
  padding-top: 60px;
  padding-bottom: 50px;
}
.main-top {
  display: flex;
  align-items: center;
  margin-block: 1rem;
}

@media (max-width: 1030px) {
  .menu {
    cursor: pointer;
    display: block;
    background-color: transparent;
    border: none;
  }
  header {
    justify-content: space-between;
    padding-inline: 2rem;
  }
  .section {
    display: none;
  }
  .menu > svg {
    color: white;
  }
  .responsive {
    position: fixed;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--black-medium);
    z-index: 1000;
    min-height: 100%;
    color: white;
    padding-inline: 2rem;
  }
  .responsive div {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: 2rem;
  }
  .responsive .sessionbtn {
    width: 100%;
    text-align: center;
  }
  .responsive nav {
    width: 100%;
    /* padding-inline: 25px; */
    display: flex;
    flex-direction: column;
  }
  .responsive nav a {
    min-height: 60px;
    padding: 0;
    border-bottom: 1px solid var(--navbar-btn);
    display: flex;
    align-items: center;
  }
  main {
    padding-inline: 2rem;
  }
}

.none {
  display: none;
}

footer {
  /* z-index: 900; */
  background-color: rgb(42, 42, 42);
  color: rgba(255, 255, 255, 0.631);
  /* position: relative; */
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

dialog {
  margin: auto;
  border: 1px solid var(--grey);
  padding: 20px;
  border-radius: 5px;
}
dialog section {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
dialog button {
  cursor: pointer;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 4px;
  transition: all 0.25s;
}
#confirm {
  background-color: var(--primary);
  border: 1px solid var(--primary-darker);
}
#confirm:hover {
  background-color: var(--primary-light);
}
#cancel {
  background-color: black;
  border: 1px solid var(--grey);
}
#cancel:hover {
  background-color: var(--navbar-btn-hover);
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.4);
}
